<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>guid</key>
		<string>papers.co-mu25-sea-city-bw-dark-ocean-nature-sky-cloud-blur-iphone-6.jpg</string>
		<key>order</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://papers.co/wallpaper/papers.co-mu25-sea-city-bw-dark-ocean-nature-sky-cloud-blur-34-iphone6-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>guid</key>
		<string>papers.co-mz30-landscape-green-mountain-windows-nature-iphone-6.jpg</string>
		<key>order</key>
		<integer>2</integer>
		<key>url</key>
		<string>http://papers.co/wallpaper/papers.co-mz30-landscape-green-mountain-windows-nature-33-iphone6-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>guid</key>
		<string>papers.co-mz26-ocean-blue-sky-cloud-nature-iphone-6.jpg</string>
		<key>order</key>
		<integer>2</integer>
		<key>url</key>
		<string>http://papers.co/wallpaper/papers.co-mz26-ocean-blue-sky-cloud-nature-33-iphone6-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>guid</key>
		<string>papers.co-vn29-leaf-green-surface-texture-nature-pattern-iphone-6.jpg</string>
		<key>order</key>
		<integer>4</integer>
		<key>url</key>
		<string>http://papers.co/wallpaper/papers.co-vn29-leaf-green-surface-texture-nature-pattern-33-iphone6-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>guid</key>
		<string>papers.co-mt99-flower-tulip-red-love-nature-iphone-6.jpg</string>
		<key>order</key>
		<integer>5</integer>
		<key>url</key>
		<string>http://papers.co/wallpaper/papers.co-mt99-flower-tulip-red-love-nature-33-iphone6-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>guid</key>
		<string>papers.co-mt13-tree-wood-grass-garden-dark-sun-light-nature-park-iphone-6.jpg</string>
		<key>order</key>
		<integer>6</integer>
		<key>url</key>
		<string>http://papers.co/wallpaper/papers.co-mt13-tree-wood-grass-garden-dark-sun-light-nature-park-33-iphone6-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>guid</key>
		<string>papers.co-mz06-sky-view-earth-blue-sea-nature-iphone-6.jpg</string>
		<key>order</key>
		<integer>7</integer>
		<key>url</key>
		<string>http://papers.co/wallpaper/papers.co-mz06-sky-view-earth-blue-sea-nature-33-iphone6-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>guid</key>
		<string>papers.co-mz10-nature-green-grass-bokeh-summer-iphone-6.jpg</string>
		<key>order</key>
		<integer>8</integer>
		<key>url</key>
		<string>http://papers.co/wallpaper/papers.co-mz10-nature-green-grass-bokeh-summer-33-iphone6-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>guid</key>
		<string>papers.co-mz04-earthview-blue-earth-space-beautiful-nature-iphone-6.jpg</string>
		<key>order</key>
		<integer>9</integer>
		<key>url</key>
		<string>http://papers.co/wallpaper/papers.co-mz04-earthview-blue-earth-space-beautiful-nature-33-iphone6-wallpaper.jpg</string>
	</dict>
</array>
</plist>
